
@import url(https://fonts.googleapis.com/css?family=Noto+Serif+Khojki);
  body
  {
    background-color: #F5F5F5;
  }
  .menu-item:not(:last-of-type)
  {
    margin-bottom: 15px;
  }

  .menu-header
  {
    display: flex;
    flex-direction: row;
  }

  .menu-headlines
  {
    font-family:'Inter';
    color: #FC527E;
    padding-left:8px; 
    padding-right: 8px; 
  }

  .item-content
  {
    flex-direction: column;
    display:none;
    padding-left: 0;
     
  }

  .animated-icon
  {
    transform: rotate(0deg);
    transition: transform 200ms linear;
  }

  .animated-icon-open
  {
    transform: rotate(90deg);
    transition: transform 200ms linear;
  }

  .subitem
  {
    padding-right: 10px;
    padding-left: 15px;
    width: fit-content;
    height: fit-content;
    text-decoration: none;

  }
  
  .title:hover{
    border-left-style: solid;
    border-left-color: #FC527E;
    background-color: #E7E4E4;
    width: fit-content;
    height: fit-content;
    color:#747474;
  }

  .title:focus{
    border-left-style: solid;
    border-left-color: #FC527E;
    background-color: #E7E4E4;
    width: fit-content;
    height: fit-content;
    color:#747474;
  }

  .title{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    color:#747474; 
  }
 

 


  