/* 
.getting-started{
    position: relative;
    display: inline-block;
  }
.getting-started-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  

  .beyond-the-basics{
    position: relative;
    display: inline-block;
  }

  .beyond-the-basics-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  } */
/*   
  .menu-item:hover .item-content {
    display:block;
  } */

  .menu-item{
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
  }
  .menu-headlines{
    font-family:'Inter';
    color: #FC527E;
    padding-left:8px; 
    padding-right: 8px; }

    /* .item-content{
        display:none;

    } */

    #submenu{
        display:none;
        color: rebeccapurple;
    }