

  body
  {
    background-color: #F5F5F5;
  }
  .menu-item:not(:last-of-type)
  {
    margin-bottom: 15px;
  }

  .menu-header
  {
    display: flex;
    flex-direction: row;
  }

  .menu-headlines
  {
    font-family:'Inter';
    color: #FC527E;
    padding-left:8px; 
    padding-right: 8px; 
  }

  .item-content
  {
    flex-direction: column;
    display:none;
    padding-left: 0;
     
  }

  .animated-icon
  {
    transform: rotate(0deg);
    transition: transform 200ms linear;
  }

  .animated-icon-open
  {
    transform: rotate(90deg);
    transition: transform 200ms linear;
  }

  .subitem
  {
    padding-right: 10px;
    padding-left: 30px;
    /* background-color: #FC527E; */
    width: fit-content;
    text-decoration: none;
    color: black;
    
  }

  .subitem:not(:last-of-type)
  {
    padding-bottom: 18px;
  }
  
  .subitem-selected 
  {
    border-left-style: solid;
    border-left-color: #FC527E;
    background-color: #E7E4E4;
  }